h3 New category
= render "categories/form", category: @category

/ button form="new_category" type="submit" class="btn btn-success me-2" Submit

= link_to "Back", categories_path, class: 'btn btn-secondary'
